@import "mixins.scss";


$black: #011627;
$blacklight: #656073;


* {
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 400;
  color: #181D30;
}

.main-wrap{
  overflow: hidden;
  position: relative;
  padding-top: 30px;

  //& > div {
  //  position: relative;
  //  z-index: 1;
  //}
}

.container{
  max-width: 100%;
}

textarea,
input,
a,
a:focus,
a:active,
a:hover{
  text-decoration: none;
  outline: 0;
}

button{
  outline: 0;
}

a,
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}


body{
}

body.hidden{

  @include for-992{
    overflow: hidden;
    position: fixed;
  }

}

.tablet{
  @media (min-width: 992px) {
    display: none !important;
  }
}
.mobile{
  @media (min-width: 768px) {
    display: none !important;
  }
}

input{
  transition: 0.3s;

  &:focus{
    border-color: #5b6e7b !important;
    color: #163143 !important;
  }
  &:active{
    border-color: #5b6e7b !important;
  }

}
.correct input,
.correct textarea{
  color: #5b6e7b !important;
  border-color: #aef7e9 !important;
}

.error-field input,
.error-field textarea{
  color: #5b6e7b !important;
  border-color: #ee789a !important;
}

.page__wrapper{
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
}


.popup{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  transition: .3s all;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;

  &.open{
    z-index: 350;
    opacity: 1;
    visibility: visible;
  }

  &__body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto 100px;
    margin-top: 150px;

    @include for-768{
      margin: 75px auto;
    }
  }

  &__inner{
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }

  &__close{
    position: absolute;
    right: -24px;
    top: -24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    transition: .3s all;
    z-index: 3;

    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 70%;
      height: 70%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition: .3s;
    }

    @include for-992{
      width: 25px;
      height: 25px;
      right: 5px;
      top: 5px;
    }

    &:hover{
      //opacity: .7;
      @include from-992{

        border-radius: 50%;


        &:before{
          box-shadow: 0px 0px 20px #FFC700;
        }
      }
    }

  }

  &__close-ico{
    display: flex;
    width: 100%;
    height: 100%;
    background: url("../img/icon/close-popup.svg") center no-repeat;
    background-size: contain;

    @include for-992{
      background: url("../img/icon/close-popup-mobile.svg") center no-repeat;
    }
  }

}



.menu{
  min-width: 270px;
  width: 20%;
  max-width: 300px;
  background: #1A2327;

  @include for-1400{
    min-width: 20%;
  }

  &__inner{

  }

  &__top{
    padding-top: 40px;
  }

  &__settings{
    position: relative;
  }

  &__settings-link{
    position: absolute;
    top: -20px;
    right: 15px;
    width: 20px;
    height: 24px;
    display: flex;

    svg path{
      transition: 0.3s;
    }

    &:hover{
      svg{
        path:last-child{
          fill: #2DA82D;
        }
      }
    }
  }

  &__title{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.005em;
    padding-left: 30px;
  }

  &__items{
    margin-top: 40px;
  }

  &__item{

  }

  &__link{
    color: #EDF0F6;
    height: 48px;
    transition: 0.3s;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.005em;
    padding-left: 28px;
    display: flex;
    align-items: center;
    border-left: 0 solid #072A4F;


    &.active,
    &:hover{
      border-left: 4px solid #072A4F;
      background: #151C1F;
      color: #EDF0F6;
    }
  }

}

.submenu{
  display: none;

  &__item{

  }

  &__link{
    color: #EDF0F6;
    height: 48px;
    transition: 0.3s;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.005em;
    padding-left: 28px;
    display: flex;
    align-items: center;
    border-left: 0 solid #072A4F;
    border-left: 4px solid #072A4F;
    background: #151C1F;

    &:hover{
      color: #EDF0F6;
    }
  }

}

/* CUSTOM FORM */

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
  width: 160px;
}

.btn-primary{
  background: #072A4F;
  border-color: #072A4F;
  border-radius: 4px;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  padding: 11px 19px 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:active,
  &:focus,
  &:hover{
    background: #0e355f;
    border-color: #0e355f;
    outline: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }

  span{
    color: white;
    font-size: 24px;
    line-height: 15px;
    font-weight: 400;
    margin-right: 7px;
  }
}
.btn-secondary{
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #181D30;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  display: flex;
  align-items: center;
  justify-content: center;

  &:active,
  &:focus,
  &:hover{
    background: #0e355f;
    border-color: #0e355f;
    outline: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }

  span{
    color: white;
    font-size: 24px;
    line-height: 15px;
    font-weight: bold;
  }
}

.filter-option-inner-inner{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
}

.dropdown-toggle.btn-light{
  background: #F5F5F5;
  border: 1px solid rgba(7, 42, 79, 0.15);
  border-radius: 4px;

  &:focus{
    box-shadow: none !important;
  }
}

.bootstrap-select>.dropdown-toggle:after{
  border: 0 !important;
  width: 13px;
  height: 9px;
  background: url("../img/icons/arr-down.svg") center center no-repeat;
  background-size: contain;
}

.show.bootstrap-select>.dropdown-toggle:after{
  transform: rotate(180deg);
}

.show>.btn-light.dropdown-toggle{
  background: #F5F5F5;
  border: 1px solid rgba(7, 42, 79, 0.2);
}

.dropdown-menu.show {
  display: block;
  background: #F5F5F5;
  border: 1px solid rgba(7, 42, 79, 0.2);
  padding: 5px 0;
}

.dropdown-item{
  padding: 5px 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  span{
    color: rgba(23, 29, 48, 0.7) !important;
  }
}

.dropdown-item.active, .dropdown-item:active{
  background: rgba(196, 196, 196, 0.2);

  span{
    font-weight: bold;
    color: #171D30 !important;
  }

}


.bootstrap-select .dropdown-toggle:focus{
  outline: 0 !important;
}

.custom-radio .custom-control-input~.custom-control-label::before {
  background-color: transparent;
  width: 23px;
  height: 23px;
  border: 1px solid #A5AFB8;
}

.custom-radio .custom-control-input~.custom-control-label::after{
  width: 15px;
  height: 15px;
  background: #A5AFB8;
  border-radius: 50%;
  top: 8px;
  left: -20px;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
  background-color: transparent;
  width: 23px;
  height: 23px;
  border: 1px solid #2DA82D;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after{
  width: 15px;
  height: 15px;
  background: #2DA82D;
  border-radius: 50%;
  top: 8px;
  left: -20px;
}




.tooltip.show{
  opacity: 1;
}

.bs-tooltip-top .tooltip-inner {
  color: #181D30;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px -2px 2px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 11px;
  line-height: 12px;
  padding: 10px;

  *{
    color: #181D30;
  }

  span{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.005em;
    margin-top: 5px;
    display: block;
  }
}

.tooltip.bs-tooltip-top .arrow::before {
  position: absolute;
  border-style: solid;
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid transparent !important;
  border-top: 0 !important;
  border-right: 0 !important;
  transform: rotate(-45deg);
  margin-top: -4px;
  background: white;
  box-shadow: -1px 2px 2px rgba(0, 0, 0, .13);
  border-radius: 1px;
}

.pagination li{
  margin-right: -4px;
}

.page-link:focus{
  box-shadow: none !important;
}

.page-link{
  color: #171D30;
}

.page-link:hover{
  color: #171D30;
}

.page-item .page-link{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.005em;
}
.page-item.active .page-link{
  background: #e5e9f0;
  border-color: #e5e9f0;
  color: #171D30;
  border-bottom: 1px solid #072A4F;
  line-height: 28px;
}

.form-control:focus{
  box-shadow: none;
}

.nav-tabs.nav-type-1{
  border: 0;
  z-index: 1;
  position: relative;

  .nav-item{
    margin-right: 7px;

    &:last-child{
      margin-right: 20px;
    }
  }
  .nav-link{
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px 4px 0px 0px;
    padding-bottom: 4px;
    padding-top: 6px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.005em;
    color: rgba(24, 29, 48, 0.5);


    &:before{
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 5px;
      background: #898989;
      color: rgba(24, 29, 48, 0.5);
    }

    &.active{
      background: rgba(255, 255, 255, 1);
      color: rgba(24, 29, 48, 0.5);

      &:before{
        background: #2DA82D;
      }
    }

  }

  & + .tab-content{
    background: white;
    margin-bottom: 20px;
  }

}


.custom-control.custom-checkbox.custom-checkbox-1{
  padding: 0;

  & .custom-control-label::before {
    border: 1px solid rgba(7, 42, 79, 0.35);
    border-radius: 0;
    margin-left: 25px;
  }

  & .custom-control-label::after {
    display: none;
  }

  & .custom-control-input:checked~.custom-control-label::before{
    background: #072A4F;
  }

  & .custom-control-input~.custom-control-label{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #000000;
    padding-left: 35px;
  }
}

/* END CUSTOM FORM */

.block-title{
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.005em;
  color: #181D30;

  &--mb{
    margin-bottom: -22px;
  }
}

.dibable-row{
  opacity: 0.5;

  td{
    pointer-events: none;

    &:last-child{
      pointer-events: initial;
    }
  }
}

textarea{
  font-size: 16px !important;
  line-height: 19px !important;
  letter-spacing: 0.005em !important;
  color: #181D30 !important;
}

.article-page{
  @media (max-width: 1410px) {
    .col-md-8 {
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }

    .col-md-4{
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
  }
}

.page__content{
  width: 100%;
  background: #EDF0F6;
}

.page-title{
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.005em;
  color: #181D30;
  margin: 0;
  padding-left: 30px;
  margin-bottom: 10px;
}

.content{
  padding: 0 20px;

  &__inner{
    background: #FFFFFF;
    border: 1px solid rgba(98, 92, 169, 0.25);
    padding: 15px 15px 30px;

    &--noborder{
      border: 0;
    }
  }

  &__top{

  }

  &__top-left{

  }

  &__top-right{

  }

  &__main{
    margin-top: 15px;
  }

}

.site-search{

  &__input{
    position: relative;

    width: 317px;

    &:before{
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      top: 50%;
      margin-top: -5px;
      left: 10px;
      background: url("../img/icons/search.svg") center center no-repeat;
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      border-radius: 4px;
      background: rgba(7, 42, 79, 0.2);
    }

    input{
      border: 0;
      padding-left: 30px;

      &::placeholder{
        color: rgba(23, 29, 48, 0.3);
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.005em;
      }
    }
  }

}

.table-wrap{
  //border: 1px solid rgba(7, 42, 79, 0.25);
  //box-sizing: border-box;
  //border-radius: 4px 4px 0 0;
}

.table{
  & > thead{
    & > tr{
      background: #FFFFFF;
      border: 0;

      th{
        border: 0;
        padding: 0;

        & > div{
          margin-right: -1px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid rgba(7, 42, 79, 0.15);
          font-weight: 900;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.005em;
          color: #171D30;
          padding: 0 10px;
        }
        &:nth-child(-n+3) > div{
          padding-left: 15px;
        }
        &:nth-child(n+4){
          &>div{
            justify-content: center;
            text-align: center;
          }
        }
        &:nth-child(4){
          &>div{
            font-size: 14px;
          }
        }
      }
    }


  }
  & > tbody{
    & > tr{

      &:nth-child(odd){
        background: #F9F9F9;
      }

      td{
        border: 1px solid rgba(7, 42, 79, 0.15);
        border-top: 0;
        position: relative;
        padding-top: 7px;
        padding-bottom: 7px;
        vertical-align: middle;

        &:nth-child(1){
          min-width: 125px;
          width: 12%;
        }
        &:nth-child(2){
          width: 40%;
          div{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            position: absolute;
            width: 100%;
            top: 10px;
            left: 12px;
            padding-right: 21px;
          }
        }

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7){
          width: 1%;
        }

        &:nth-child(n+4){
          text-align: center;
        }

        &:last-child{
          width: 9%;
        }
      }
    }
  }

  &__top-left{
    height: 60px;
    border-top: 1px solid rgba(7, 42, 79, 0.25);
    border-left: 1px solid rgba(7, 42, 79, 0.25);
    border-right: 1px solid rgba(7, 42, 79, 0.15);
    border-radius: 4px 0 0 0;
  }

  &__top-center{
    height: 60px;
    border-top: 1px solid rgba(7, 42, 79, 0.25);
    border-right: 1px solid rgba(7, 42, 79, 0.15);
  }

  &__top-right{
    height: 60px;
    border-top: 1px solid rgba(7, 42, 79, 0.25);
    border-right: 1px solid rgba(7, 42, 79, 0.25);
    border-radius: 0 4px 0 0;
  }

  &__small-txt{
    font-size: 14px;
    line-height: 16px;
  }

  .custom-radio{

    //input, label{
    //  //pointer-events: none;
    //}
  }

  .custom-radio .custom-control-input~.custom-control-label::before {
    top: 2px;
  }

  .custom-radio .custom-control-input~.custom-control-label::after{
    top: 6px;
  }
}


.table.quotes-table{
  & thead > tr {
    th{
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        width: 15%;
        padding-left: 50px;
        text-align: left;
      }
      &:nth-child(5){
        width: 1%;
      }
    }
  }
  & tbody > tr {
    td {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4){
        width: 15%;
        padding-left: 50px;
        text-align: left;
      }

      &:nth-child(5){
        width: 1%;
      }
    }
  }
}

.table-date{
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  color: #181D30;
}

.table-time{
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.005em;
  color: rgba(24, 29, 48, 0.7);
}

.reminder{
  position: absolute;
  top: 5px;
  right: 5px;
}

.editing{
  position: absolute;
  bottom: 5px;
  right: 5px;

  svg{
    width: 10px;
    height: 10px;

    path{
      fill-opacity: 1;
    }
  }
}

.table-lang{
  span{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.005em;
    color: rgba(49, 49, 49, 0.3);

    &.active{
      color: #313131;
    }
  }

}

.table-change{
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;

  svg {
    path {
      transition: 0.3s;
    }
  }

  &:hover{
    background: #DFDFDF;

    svg{
      path{
        fill-opacity: 1;
      }
    }
  }
}

.table-remove{
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;

  svg {
    path {
      transition: 0.3s;
    }
  }

  &:hover{
    background: #DFDFDF;

    svg{
      path{
        fill-opacity: 1;
      }
    }
  }
}

.pagination{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 0 24px;

  &__list{

  }
}


.photo-block{
  margin-top: 15px;

  &__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item{
    margin-bottom: 15px;
    margin-right: 15px;

    &:last-child{
      margin-right: 0;
    }
  }

  &__link{
    position: relative;
    display: block;
    width: calc(12vw + 1px);
    min-width: 224px;
    //height: 12vw;
    //min-height: 242px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

    span{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.005em;
      color: rgba(24, 29, 48, 0.3);

      &:before{
        content: "+";
        width: 34px;
        height: 34px;
        background: #072A4F;
        font-size: 24px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 0 auto 10px;
      }
    }

    img{
      max-width: 100%;
      max-height: 100%;
    }
  }

}

.selected-photo{
  display: none;

  &.active{
    display: block;
    height: 100%;
    position: relative;
  }

  &__item{
    width: calc(12vw + 1px);
    min-width: 224px;
    max-height: 242px;
    //height: 12vw;
    //min-height: 242px;
    background: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    img{
      max-width: 90%;
      max-height: 242px;
      margin: 0 auto;
      display: block;
    }

  }

  &__remove{
    position: absolute;
    width: 19px;
    height: 19px;
    top: 10px;
    right: 10px;
    background: url("../img/rem-file.svg") center center no-repeat;
    background-size: contain;
  }
}

.status-block{

  &__top{
    margin-top: 30px;
    margin-bottom: 40px;

    span:first-child{
      margin-right: 30px;

      @include for-1200{
        margin-right: 5px;
      }
    }

    .custom-radio{
      margin-right: 10px;
      padding-left: 0;

      span{
        margin-left: 10px;
      }
    }


    .custom-radio .custom-control-input~.custom-control-label {
      width: 16px;
      height: 16px;
      top: 3px;


    }

    .custom-radio .custom-control-input~.custom-control-label::before {
      background-color: transparent;
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
    }

    .custom-radio .custom-control-input~.custom-control-label::after{
      display: none;
    }

    .custom-radio .custom-control-input:checked~.custom-control-label::before {
      width: 16px;
      height: 16px;
      border-color: #072A4F;
    }

    .custom-radio .custom-control-input:checked~.custom-control-label::after {
      width: 10px;
      height: 10px;
      top: 3px;
      left: 3px;
      background: #072A4F;
      display: block;
    }

  }

  &__txt{
    display: flex;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.005em;

    span{
      &:first-child{
        max-width: 160px;
      }
    }
  }

  &__planned{
    display: none;

    &.active{
      display: flex;
    }
  }

  &__btn{
    display: none;

    &.active{
      display: flex;
    }

    .btn{
      min-width: 160px;
    }
  }

}

.remove-article{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;

  &__inner{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.005em;
    color: rgba(7, 42, 79, 0.7);
    display: inline-block;

    &:hover{
      font-weight: bold;
      color: #072A4F;
    }
  }

}

.category-block{

  &__checkboxes{
    margin-top: 10px;
    background: #FFFFFF;
    border: 1px solid rgba(7, 42, 79, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px;
    position: relative;
    overflow: auto;
    max-height: 192px;

    .custom-checkbox{
      margin-bottom: 10px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

}


.textarea-length{
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  color: rgba(7, 42, 79, 0.5);
  display: block;
  margin-top: -19px;
  width: 100px;
  position: relative;
  z-index: 2;
  left: 12px;
  top: -9px;
}

.novalid,
.novalid-category{
  border: 1px solid #ff0000 ;


}
.novalid.nav-link{
  border: 1px solid #ff0000 !important;
  border-bottom: 1px solid #fff !important;
}






.sched-public{

  * {
    font-family: "Roboto";
  }


  .modal-dialog{
    max-width: 360px;
  }

  .modal-header{
    border: 0;
    justify-content: flex-start;

    & > svg{
      margin-right: 15px;
    }

    & > span{
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.005em;
      color: #181D30;
    }
  }

  &__input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    position: relative;

    & > svg {
      width: 19px;
      height: 19px;
      position: absolute;
      right: 0;
      top: 0;
    }

    & > label{
      margin-bottom: 0;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.005em;
      color: #181D30;
    }

    & > input{
      max-width: 240px;
      width: 100%;
      border: 0;
      border-bottom: 1px solid #C1C9D3;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.005em;
      color: #181D30;
    }
  }



  .modal-footer{
    border: 0;
    padding-top: 0;

    & > button {
      font-family: "Roboto";
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.005em;
      text-transform: uppercase;
      color: rgba(7, 42, 79, 0.8);
      border: 0;
      background: transparent;

      &:hover{
        font-weight: 700!important;
        color: #072A4F;
      }


      &:not(:disabled):not(.disabled):active{
        color: inherit;
        background-color: transparent;
        border-color:  transparent;
      }

      &:focus,
      &:not(:disabled):not(.disabled):active:focus{
        box-shadow: none;
      }
    };
  }


  .correct-field > svg path{
    fill: #181D30;
    fill-opacity: 1;
  }

  .correct-field > input{
    border-color: #2DA82D;
  }

  .error-field > input{
    border-color: #EB0029;
  }

}

.datepicker-modal{
  margin: 0 auto;
  * {
    font-family: "Roboto";
  }


  .datepicker-date-display .date-text{
    color: #F5F6FA;
  }

  .datepicker-controls > button{
    margin-top: 0;
  }

  .select-wrapper input.select-dropdown{
    font-family: "Roboto";
    border-bottom: 0;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0;
    text-align: center;
    color: #596079;
  }

  .datepicker-container{
    border-radius: 10px;
    overflow: hidden;
  }

  .datepicker-date-display{
    background: #1A2327;
  }

  .datepicker-calendar-container{
    background: #F5F6FA;
  }

  .datepicker-day-button{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #646464;
  }

  .is-selected .datepicker-day-button{
    background: #072A4F;
    color: white;
  }

  .is-today .datepicker-day-button{
    color: #072A4F;
  }

  .datepicker-table thead{
    display: none;
  }

  .confirmation-btns{
    margin-top: 20px;
  }

  .confirmation-btns > button{
    font-family: "Roboto";
    border: 0;
    background: transparent;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #072A4F;
  }

  .datepicker-table td, .datepicker-table  th{
    border-top: 0;
  }
}

.timepicker-modal{
  margin: 0 auto;
  * {
    font-family: "Roboto";
  }


  .timepicker-text-container span{
    color: rgba(245, 246, 250, 0.57);
  }

  .timepicker-span-am-pm > div{
    color: rgba(245, 246, 250, 0.57);
  }

  .timepicker-container{
    border-radius: 10px;
    overflow: hidden;
  }

  .timepicker-digital-display{
    background-color: #1A2327;
  }

  .timepicker-analog-display{
    background-color: #F5F6FA;
  }

  .datepicker-table thead{
    display: none;
  }

  .confirmation-btns{
    margin-top: 20px;
  }

  .confirmation-btns > button{
    font-family: "Roboto";
    border: 0;
    background: transparent;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #072A4F;
  }

  .text-primary{
    color: white !important;
  }

  .timepicker-tick{
    transition: .15s all;
    font-weight: 700;
  }

  .timepicker-tick.active, .timepicker-tick:hover{
    background-color:  #072A4F !important;
    color: white !important;
  }

  .timepicker-canvas line{
    stroke: rgba(7, 42, 79, 0.5);
  }

  .timepicker-canvas-bg{
    fill: rgba(7, 42, 79, 0.5);
  }

  .timepicker-canvas-bearing{
    fill: #072A4F;
  }
}

.change-pass{

  * {
    font-family: "Roboto";
  }

  .modal-content{
    background: #EDF0F6;
  }


  .modal-header{
    padding-left: 36px;
    padding-bottom: 10px;

    h5{
      margin-top: 10px;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.005em;
      color: #181D30;
    }
  }

  .modal-body{
    padding-left: 36px;
    padding-right: 46px;
  }
  .modal-dialog{
    max-width: 388px;
  }

  .nav-tabs{
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.005em;
    color: #171D30;
    border: 0;
    text-align: center;

    &.active{
      border-bottom: 2px solid #072A4F;
      background: transparent;
    }
  }

  &__form-btn{
    margin-top: 80px;
    margin-bottom: 25px;
  }

  .form-group{
    position: relative;
    margin-bottom: 25px;


    label{
      position: absolute;
      top: 0;
      left: 0;
      font-size: 13px;
      line-height: 15px;
      color: #171D30;
      transition: .3s all;

      &.show{
        transform: translateY(-20px);
      }
    }

    input{
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid rgba(7, 42, 79, 0.1);
      font-size: 13px;
      line-height: 15px;
      color: #171D30;
      background: transparent;
      padding-left: 0;
      padding-right: 0;

      &:focus{
        outline: none;
        box-shadow: none;
      }
    }

    .invalid-feedback {
      background: rgba(235, 0, 41, 0.05);
      padding: 4px 5px;
      font-size: 10px;
      line-height: 12px;
      color: rgba(235, 0, 41, 0.9);
      margin-top: 0;
    }
  }
  .form-control.is-invalid, .was-validated .form-control:invalid,
  .form-control.is-valid, .was-validated .form-control:valid{
    background-image: none;
  }

  .form-control.is-valid:focus, .was-validated .form-control:valid:focus,
  .form-control.is-invalid:focus, .was-validated .form-control:invalid:focus{
    border-color: transparent;
    box-shadow: none;
  }


  .was-validated .form-control:invalid~.invalid-feedback + label{
      color: rgba(235, 0, 41, 0.9);
  }

}

.login-page{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 45px;

  form{
    margin-top: 140px;
  }

  &__img{

  }

  &__form{

  }

  &__show-pass{
    position: absolute;
    right: 0;
    top: -5px;
  }

  &__btn{
    display: block;
    width: 100%;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1A2327;
    height: 36px;
    border: 0;
  }

  &__forgot{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    position: relative;

    width: 110px;
    display: block;
    margin-left: auto;
    margin-top: 20px;

    &:hover{
      color: white;
    }

    &:after{
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: white;
      bottom: -2px;
    }
  }

  .invalid-feedback{
    background: rgba(255, 255, 255, 0.07) !important;
    border-radius: 0px 0px 4px 4px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.03em;
    color: #EB0029;
    padding: 10px !important;
  }

  .was-validated :invalid~.invalid-feedback + label{
    color: #EB0029;
  }

  .form-group{
    position: relative;
    margin-bottom: 35px;

    &:last-child{
      margin-bottom: 25px;
    }



    label{
      position: absolute;
      top: 0;
      left: 0;
      font-size: 13px;
      line-height: 15px;
      color: white;
      transition: .3s all;

      &.show{
        transform: translateY(-13px);
        font-size: 10px;
        line-height: 12px;
        color: rgba(255, 255, 255, 0.5);
      }
    }

    input,
    input:focus{
      width: 410px;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid white;
      background: transparent;
      padding-left: 0;
      padding-right: 0;
      font-size: 13px;
      line-height: 15px;
      color: #FFFFFF !important;
      padding-bottom: 3px;

      &:focus{
        outline: none;
        box-shadow: none;
      }
    }

    .invalid-feedback {
      background: rgba(235, 0, 41, 0.05);
      padding: 4px 5px;
      font-size: 10px;
      line-height: 12px;
      color: rgba(235, 0, 41, 0.9);
      margin-top: 0;
    }
  }
  .form-control.is-invalid, .was-validated .form-control:invalid,
  .form-control.is-valid, .was-validated .form-control:valid{
    background-image: none;
  }

  .form-control.is-valid:focus, .was-validated .form-control:valid:focus,
  .form-control.is-invalid:focus, .was-validated .form-control:invalid:focus{
    border-color: transparent;
    box-shadow: none;
  }


  .was-validated .form-control:invalid~.invalid-feedback + label{
    color: rgba(235, 0, 41, 0.9);
  }

}

.quotes{

  .content__inner{
    min-height: 100vh;
  }

  .quotes-table-name{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.005em;
    color: #181D30;
  }

  .content__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .quotes-table{


    tr{

    }
    tr td{
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
      color: #000000;
      border: 0;
      background: rgba(244, 244, 244, 0.32);

      &:nth-child(4){
        color: #069740;
      }
    }

    tr:nth-child(odd) {
      background: inherit;
    }

    th{
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: #000000;
      padding: .75rem;
      background: rgba(244, 244, 244, 0.67);

      &:nth-child(4){
        text-align: center;
      }
    }

    th:first-child{
      padding-left: 4rem;
    }
    td:first-child{
      padding-left: 4rem;
      color: #00255B;
    }

    .table tbody tr:nth-child(odd){
      background: rgba(244, 244, 244, 0.32) !important;
    }
    .table tbody tr:nth-child(even){
      background: rgba(244, 244, 244, 0.32);
    }

    tr:hover{

      td{
        background: #F4F4F4;
      }

      .table-remove{
        svg path{
          opacity: 1;
        }
      }
    }
  }

  .table-remove{
    margin-left: auto;

    svg path{
      fill: rgba(0, 37, 91, 0.6);
      opacity: .6;
    }

    &:hover {
      background: transparent;
    }
  }

}

.calendar ~ .modal-overlay{
    position: fixed;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
    background: black;
}

.modal-header__big{
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 28px !important;
  color: #181D30 !important;
}

.modal-body__txt{
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  color: rgba(24, 29, 48, 0.8);
  padding-bottom: 2rem;
  display: flex;
}

.btn-ok{
  font-weight: normal !important;
}

.main-page{
  background: #1A2327;
}

.settings-hover .tooltip{
  .tooltip-inner{
    background: rgba(48, 48, 48, 0.64);
    backdrop-filter: blur(4px);
    padding: 3px 13px;
  }



  border-radius: 2px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}


.category-block__checkboxes--subcategory{
  display: none;
}

.shaker{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


.btn-primary.disabled, .btn-primary:disabled{
  border-color: #072A4F;
  background: #072A4F;
  opacity: 1;
}

//.pl20px{
//  padding-left: 20px;
//}