footer.footer

  button(type="button" class="btn btn-primary" data-toggle="modal" data-target=".sched-public-js")
    sched-public

  .sched-public.sched-public-js.modal.fade(tabindex='-1' role='dialog' aria-labelledby='schedPublicModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          include ../../img/ico/curve-ico.svg
          span Запланировать публикацию
        .modal-body
          .modal-row.sched-public-row
            .sched-public__input
              label(for="dateFields") Дата
              input(type="text" class="datepicker" id="dateFields" placeholder="00.00.0000" required )
              include ../../img/ico/calendar-ico.svg
            .sched-public__input
              label(for="timeFields") Время
              input(type="text" class="timepicker" id="timeFields" placeholder="00:00" required )
              include ../../img/ico/calendar-ico.svg
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Отмена
          button.btn.btn-primary(type='button') ОК



