aside.menu
  .menu__inner
    .menu__top
      .menu__settings
        a(href="#" data-toggle="tooltip" data-placement="bottom" data-html="true" data-original-title="Сменить пароль").menu__settings-link
          include ../../img/icons/settings.svg
      .menu__title Администратор
    .menu__items
      .menu__item
        a(href="#").menu__link.active Статьи
      .menu__item
        a(href="#").menu__link Черновики
      .menu__item
        a(href="#").menu__link Запланированные
      .menu__item
        a(href="#").menu__link.has-submenu Котировки
        .submenu
          .submenu__item
            a(href="#").submenu__link Agri
          .submenu__item
            a(href="#").submenu__link Energy
          .submenu__item
            a(href="#").submenu__link Currency
          .submenu__item
            a(href="#").submenu__link SP 500
      .menu__item
        a(href="#").menu__link Выйти



