aside.menu
  .menu__inner
    .menu__top
      .menu__settings(data-toggle="modal" data-target=".change-pass-js")
        a(href="#" data-toggle="tooltip" data-placement="bottom" data-html="true" data-original-title="Сменить пароль" ).menu__settings-link
          include ../../img/icons/settings.svg
      .menu__title Администратор
    .menu__items
      .menu__item
        a(href="./index1.html" class=(pageActive === "homepage" ? "menu__link active" : 'menu__link')) Статьи
      .menu__item
        a(href="./drafts.html" class=(pageActive === "drafts" ? "menu__link active" : 'menu__link')) Черновики
      .menu__item
        a(href="./planned.html" class=(pageActive === "planned" ? "menu__link active" : 'menu__link')) Запланированные
      .menu__item
        a(href="#" class=(pageActive === "quotes" ? "menu__link has-submenu active" : 'menu__link has-submenu')) Котировки
        .submenu(style=(pageActive === "quotes" ? "display: block;" : 'display: none;'))
          .submenu__item
            a(href="./quotes.html").submenu__link Agri
          .submenu__item
            a(href="./quotes.html").submenu__link Energy
          .submenu__item
            a(href="./quotes.html").submenu__link Currency
          .submenu__item
            a(href="./quotes.html").submenu__link SP 500
      .menu__item
        a(href="#").menu__link Выйти



