aside.menu
  .menu__inner
    .menu__top
      .menu__settings
        a(href="#").menu__settings-link
      .menu__title Администратор
    .menu__items
      .menu__item
        a(href="#").menu__link.active Статьи
      .menu__item
        a(href="#").menu__link.active Черновики
      .menu__item
        a(href="#").menu__link.active Запланированные
      .menu__item
        a(href="#").menu__link.active Котировки
      .menu__item
        a(href="#").menu__link.active Выйти



