extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    picture
      source(srcset="./img/logo.webp" type="image/webp")
      source(srcset="./img/logo.jpg" type="image/png")
      img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

  div.main-wrap
    h1.page-title Статья

    .content.container
      .row
        .col-md-7
          .block-title.block-title--mb Заглавие
          ul.nav.nav-tabs(role='tablist')
            li.nav-item(role='presentation')
              a.nav-link.active(data-toggle='tab', href='#rus', role='tab', aria-controls='home', aria-selected='true') Home
            li.nav-item(role='presentation')
              a.nav-link(data-toggle='tab', href='#eng', role='tab', aria-controls='profile', aria-selected='false') Profile
          .tab-content
            #rus.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
              input.form-control(type='text' name="head-eng")
            #eng.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
              input.form-control(type='text' name="head-rus")

          .block-title.block-title--mb Текст
          ul.nav.nav-tabs(role='tablist')
            li.nav-item(role='presentation')
              a.nav-link.active(data-toggle='tab', href='#rus2', role='tab', aria-controls='home', aria-selected='true') Home
            li.nav-item(role='presentation')
              a.nav-link(data-toggle='tab', href='#eng2', role='tab', aria-controls='profile', aria-selected='false') Profile
          .tab-content
            #rus2.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
              textarea.form-control(rows='4' name='text-eng')
            #eng2.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
              textarea.form-control(rows='4' name='rus-eng')

          .block-title Фото

          .photo-block
            .photo-block__inner
              .photo-block__item
                a(href="#").photo-block__link
                  span Добавить
              .photo-block__item
                a(href="#").photo-block__link
                  span Добавить
              .photo-block__item
                a(href="#").photo-block__link
                  span Добавить

        .col-md-5
          a(href="#").remove-article Удалить статью
          .content__inner
            .status-block
              .block-title Статус
              .status-block__top.d-flex
                span Выбрать:
                .form-check
                  input#Radios1.form-check-input(type='radio', name='Radios', value='option1', )
                  label.form-check-label(for='Radios1')
                    | Черновик
                .form-check
                  input#Radios2.form-check-input(type='radio', name='Radios', value='option2' checked='')
                  label.form-check-label(for='Radios2')
                    | Публикация
              .status-block__txt.d-flex
                span Эта публикация запланирована на:
              .status-block__btn.d-flex.justify-content-between
                a(href="#").btn.btn-secondary Запланировать
                a(href="#").btn.btn-primary Опубликовать

          .content__inner
            .category-block
              .block-title Категория
              .category-block__checkboxes
                .form-check
                  input#Checkbox1.form-check-input(type='checkbox', value='Agri')
                  label.form-check-label(for='Checkbox1') Agri
                .form-check
                  input#Checkbox2.form-check-input(type='checkbox', value='Energy')
                  label.form-check-label(for='Checkbox2') Energy
                .form-check
                  input#Checkbox3.form-check-input(type='checkbox', value='Finance')
                  label.form-check-label(for='Checkbox3') Finance
                .form-check
                  input#Checkbox4.form-check-input(type='checkbox', value='Ecology')
                  label.form-check-label(for='Checkbox4') Ecology

          .content__inner
            .category-block
              .block-title Подкатегория
              .category-block__checkboxes
                .form-check
                  input#Checkbox11.form-check-input(type='checkbox', value='Weat')
                  label.form-check-label(for='Checkbox11') Weat
                .form-check
                  input#Checkbox12.form-check-input(type='checkbox', value='soybeans')
                  label.form-check-label(for='Checkbox12') Soybeans
                .form-check
                  input#Checkbox13.form-check-input(type='checkbox', value='Oils')
                  label.form-check-label(for='Checkbox13') Oils
                .form-check
                  input#Checkbox14.form-check-input(type='checkbox', value='Cotton')
                  label.form-check-label(for='Checkbox14') Cotton
                .form-check
                  input#Checkbox15.form-check-input(type='checkbox', value='Corn')
                  label.form-check-label(for='Checkbox15') Corn
                .form-check
                  input#Checkbox16.form-check-input(type='checkbox', value='Niche')
                  label.form-check-label(for='Checkbox16') Niche




    nav(aria-label='Page navigation example')
      ul.pagination
        li.page-item
          a.page-link(href='#', aria-label='Previous')
            span(aria-hidden='true') «
        li.page-item
          a.page-link(href='#') 1
        li.page-item
          a.page-link(href='#') 2
        li.page-item
          a.page-link(href='#') 3
        li.page-item
          a.page-link(href='#', aria-label='Next')
            span(aria-hidden='true') »


