extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    picture
      source(srcset="./img/logo.webp" type="image/webp")
      source(srcset="./img/logo.jpg" type="image/png")
      img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

  div.main-wrap
    h1.page-title Черновии

    .content
      .content__inner
        .content__top.d-flex.align-items-center.justify-content-between
          .content__top-left
            .site-search
              form
                .site-search__input
                  input(type="text" placeholder="Поиск ...")
          .content__top-right
            a.btn.btn-primary(href="./new-article.html")
              span +
              | Добавить
        .content__main
          table.table
            thead
              tr
                th(scope='col')
                  .table__top-left.d-flex.align-items-center.justify-content-between.pr-3 Дата
                    a(href="#" data-toggle="modal" data-target=".sched-public-js").calendar
                      include ../img/icons/calendar-b.svg
                th(scope='col')
                  .table__top-center Заглавие
                th(scope='col')
                  .table__top-center Категории
                th(scope='col')
                  .table__top-center Статус
                th(scope='col')
                  .table__top-center Язык
                th(scope='col')
                  .table__top-right Действия
            tbody
              tr
                td
                  .table-date 10 Jul, 2020
                  .table-time 11:03:22 AM
                  a.reminder(href="#" data-toggle="tooltip" data-placement="top" data-html="true" data-original-title="Запланировано на: <br> <span>21.06.2020 <br> 11:10 </span>")
                    include ../img/icons/remaider.svg
                td
                  div Some articleцццццц цццчцццccfgxxxаааааxhц...
                td
                  select.selectpicker
                    option Corn
                    option Soybeans
                    option Oils
                td
                  .form-check.custom-control.custom-radio
                    input#exampleRadios61.form-check-input.custom-control-input(type='radio', name='exampleRadios1', value='option1', checked='')
                    label.form-check-label.custom-control-label(for='exampleRadios61')

                td
                  .table-lang
                    span.active RU
                    span.active \
                    span EN
                td
                  .d-flex.justify-content-around
                    a(href="./draft.html").table-change
                      include ../img/icons/edit.svg
                    a(href="#").table-remove
                      include ../img/icons/remove.svg


              tr
                td
                  .table-date 10 Jul, 2020
                  .table-time 11:03:22 AM
                  a.editing(href="#" data-toggle="tooltip" data-placement="top" data-html="true" data-original-title="Статья находится на <br> этапе редактирования")
                    include ../img/icons/edit.svg
                td Some articleцццццццццчцц цccfgxxxаааааxhц...
                td
                  select.selectpicker
                    option Corn
                    option Soybeans
                    option Oils
                td
                  .form-check.custom-control.custom-radio
                    input#exampleRadios41.form-check-input.custom-control-input(type='radio', name='exampleRadios3', value='option1')
                    label.form-check-label.custom-control-label(for='exampleRadios41')

                td
                  .table-lang
                    span.active RU
                    span.active \
                    span EN
                td
                  .d-flex.justify-content-around
                    a(href="./draft.html").table-change
                      include ../img/icons/edit.svg
                    a(href="#").table-remove
                      include ../img/icons/remove.svg


              tr.dibable-row
                td
                  .table-date 10 Jul, 2020
                  .table-time 11:03:22 AM
                  a.editing(href="#" data-toggle="tooltip" data-placement="top" data-html="true" data-original-title="Статья находится на <br> этапе редактирования")
                    include ../img/icons/edit.svg
                td Some articleццццццццц чцццccfgxxxаааааxhц...
                td
                  select.selectpicker
                    option Corn
                    option Soybeans
                    option Oils

                td
                  .form-check.custom-control.custom-radio
                    input#exampleRadios21.form-check-input.custom-control-input(type='radio', name='exampleRadios6', value='option1', checked='')
                    label.form-check-label.custom-control-label(for='exampleRadios21')
                td
                  .table-lang
                    span.active RU
                    span.active \
                    span EN
                td
                  .d-flex.justify-content-around
                    a(href="./draft.html").table-change
                      include ../img/icons/edit.svg
                    a(href="#").table-remove
                      include ../img/icons/remove.svg


              tr
                td
                  .table-date 10 Jul, 2020
                  .table-time 11:03:22 AM
                  a.reminder(href="#" data-toggle="tooltip" data-placement="top" data-html="true" data-original-title="Запланировано на: <br> <span>21.06.2020 <br> 11:10 </span>")
                    include ../img/icons/remaider.svg
                td
                  div Some articleцццццц цццчцццccfgxxxаааааxhц...
                td
                  select.selectpicker
                    option Corn
                    option Soybeans
                    option Oils
                td
                  .form-check.custom-control.custom-radio
                    input#exampleRadios761.form-check-input.custom-control-input(type='radio', name='exampleRadios1', value='option1', checked='')
                    label.form-check-label.custom-control-label(for='exampleRadios761')

                td
                  .table-lang
                    span.active RU
                    span.active \
                    span EN
                td
                  .d-flex.justify-content-around
                    a(href="./draft.html").table-change
                      include ../img/icons/edit.svg
                    a(href="#").table-remove
                      include ../img/icons/remove.svg


              tr
                td
                  .table-date 10 Jul, 2020
                  .table-time 11:03:22 AM
                  a.editing(href="#" data-toggle="tooltip" data-placement="top" data-html="true" data-original-title="Статья находится на <br> этапе редактирования")
                    include ../img/icons/edit.svg
                td Some articleцццццццццчцц цccfgxxxаааааxhц...
                td
                  select.selectpicker
                    option Corn
                    option Soybeans
                    option Oils
                td
                  .form-check.custom-control.custom-radio
                    input#exampleRadios741.form-check-input.custom-control-input(type='radio', name='exampleRadios3', value='option1')
                    label.form-check-label.custom-control-label(for='exampleRadios741')

                td
                  .table-lang
                    span.active RU
                    span.active \
                    span EN
                td
                  .d-flex.justify-content-around
                    a(href="./draft.html").table-change
                      include ../img/icons/edit.svg
                    a(href="#").table-remove
                      include ../img/icons/remove.svg


              tr.dibable-row
                td
                  .table-date 10 Jul, 2020
                  .table-time 11:03:22 AM
                  a.editing(href="#" data-toggle="tooltip" data-placement="top" data-html="true" data-original-title="Статья находится на <br> этапе редактирования")
                    include ../img/icons/edit.svg
                td Some articleццццццццц чцццccfgxxxаааааxhц...
                td
                  select.selectpicker
                    option Corn
                    option Soybeans
                    option Oils
                td
                  .form-check.custom-control.custom-radio
                    input#exampleRadios731.form-check-input.custom-control-input(type='radio', name='exampleRadios5', value='option1', checked='')
                    label.form-check-label.custom-control-label(for='exampleRadios731')

                td
                  .table-lang
                    span.active RU
                    span.active \
                    span EN
                td
                  .d-flex.justify-content-around
                    a(href="./draft.html").table-change
                      include ../img/icons/edit.svg
                    a(href="#").table-remove
                      include ../img/icons/remove.svg



    nav(aria-label='Page navigation example')
      ul.pagination
        li.page-item
          a.page-link(href='#', aria-label='Previous')
            span(aria-hidden='true') «
        li.page-item
          a.page-link(href='#') 1
        li.page-item
          a.page-link(href='#') 2
        li.page-item
          a.page-link(href='#') 3
        li.page-item
          a.page-link(href='#', aria-label='Next')
            span(aria-hidden='true') »


