extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "drafts";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    picture
      source(srcset="./img/logo.webp" type="image/webp")
      source(srcset="./img/logo.jpg" type="image/png")
      img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

  div.main-wrap
    h1.page-title Черновик

    .content.container.article-page
      .row
        .col-md-8
          .block-title.block-title--mb Заглавие
          ul.nav-type-1.nav.nav-tabs.d-flex.justify-content-end(role='tablist')
            li.nav-item(role='presentation')
              a.nav-link.active(data-toggle='tab', href='#rus', role='tab', aria-controls='home', aria-selected='true') Английский
            li.nav-item(role='presentation')
              a.nav-link(data-toggle='tab', href='#eng', role='tab', aria-controls='profile', aria-selected='false') Русский
          .tab-content
            #rus.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
              input.form-control(type='text' name="head-eng" placeholder='Введите текст' value='Название ')
            #eng.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
              input.form-control(type='text' name="head-rus" placeholder='Введите текст')

          .block-title.block-title--mb Текст
          ul.nav.nav-tabs.nav-type-1.d-flex.justify-content-end(role='tablist')
            li.nav-item(role='presentation')
              a.nav-link.active(data-toggle='tab', href='#rus2', role='tab', aria-controls='home', aria-selected='true') Английский
            li.nav-item(role='presentation')
              a.nav-link(data-toggle='tab', href='#eng2', role='tab', aria-controls='profile', aria-selected='false') Русский
          .tab-content
            #rus2.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
              textarea.form-control(rows='6' name='text-eng' value="") In a tweet about Seattle demonstrations, President Trump renewed a threat to take action against local prot
              span.textarea-length(data-length="180") 107/180
            #eng2.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
              textarea.form-control(rows='6' name='rus-eng')
              span.textarea-length(data-length="180") 0/180

          .block-title Фото

          .photo-block
            .photo-block__inner
              .photo-block__item
                a(href="javascript:void(0)").photo-block__link
                  img(src="./img/add-photo.svg")
                  span Добавить
                  input(type="file").d-none
                .selected-photo
                  .selected-photo__item
                  a(href="javascript:void(0)").selected-photo__remove
              .photo-block__item
                a(href="javascript:void(0)").photo-block__link
                  img(src="./img/add-photo.svg")
                  span Добавить
                  input(type="file").d-none
                .selected-photo
                  .selected-photo__item
                  a(href="javascript:void(0)").selected-photo__remove
              .photo-block__item
                a(href="javascript:void(0)").photo-block__link
                  img(src="./img/add-photo.svg")
                  span Добавить
                  input(type="file").d-none
                .selected-photo
                  .selected-photo__item
                  a(href="javascript:void(0)").selected-photo__remove

        .col-md-4
          .remove-article
            a(href="#" data-toggle="modal" data-target=".remove-note-js").remove-article__inner Удалить статью
          .content__inner.content__inner--noborder.mb-4
            .status-block
              .block-title Статус
              .status-block__top.d-flex
                span Выбрать:
                .form-check.custom-control.custom-radio
                  input#exampleRadios21.form-check-input.custom-control-input(type='radio', name='exampleRadios1', value='draft', checked='')
                  label.form-check-label.custom-control-label(for='exampleRadios21')
                  span Черновик
                .form-check.custom-control.custom-radio
                  input#exampleRadios61.form-check-input.custom-control-input(type='radio', name='exampleRadios1', value='published')
                  label.form-check-label.custom-control-label(for='exampleRadios61')
                  span Публикация
              .status-block__txt.status-block__planned
                span Эта публикация запланирована на:
                span 21.06.2020 <br> 19:30
              .status-block__btn.justify-content-between
                a(href="#" data-toggle="modal" data-target=".sched-public-js").btn.btn-secondary Запланировать
                a(href="./article.html" ).btn.btn-primary.post-article Опубликовать
              .status-block__btn.justify-content-between.active
                a(href="#" data-toggle="modal" data-target=".remove-note-js").btn.btn-secondary Удалить
                a(href="./drafts.html" ).btn.btn-primary.post-article Сохранить

          .content__inner.content__inner--noborder.mb-4.category-block__checkboxes--category
            .category-block
              .block-title Категория
              .category-block__checkboxes
                .custom-control.custom-checkbox.custom-checkbox-1
                  input#customCheck1.custom-control-input(type='checkbox' data-subcategory="agri")
                  label.custom-control-label(for='customCheck1') Agri
                .custom-control.custom-checkbox.custom-checkbox-1
                  input#customCheck2.custom-control-input(type='checkbox' )
                  label.custom-control-label(for='customCheck2') Energy
                .custom-control.custom-checkbox.custom-checkbox-1
                  input#customCheck3.custom-control-input(type='checkbox')
                  label.custom-control-label(for='customCheck3') Finance
                .custom-control.custom-checkbox.custom-checkbox-1
                  input#customCheck4.custom-control-input(type='checkbox' data-subcategory="agri")
                  label.custom-control-label(for='customCheck4') Ecology


          .content__inner.content__inner--noborder.category-block__checkboxes--subcategory.agri
            .category-block
              .block-title Подкатегория
              .category-block__checkboxes
                .custom-control.custom-checkbox.custom-checkbox-1
                  input#customCheck5.custom-control-input(type='checkbox')
                  label.custom-control-label(for='customCheck5') Wheat
                .custom-control.custom-checkbox.custom-checkbox-1
                  input#customCheck6.custom-control-input(type='checkbox')
                  label.custom-control-label(for='customCheck6') Soybeans
                .custom-control.custom-checkbox.custom-checkbox-1
                  input#customCheck7.custom-control-input(type='checkbox')
                  label.custom-control-label(for='customCheck7') Oils
                .custom-control.custom-checkbox.custom-checkbox-1
                  input#customCheck8.custom-control-input(type='checkbox')
                  label.custom-control-label(for='customCheck8') Cotton
                .custom-control.custom-checkbox.custom-checkbox-1
                  input#customCheck9.custom-control-input(type='checkbox')
                  label.custom-control-label(for='customCheck9') Corn
                .custom-control.custom-checkbox.custom-checkbox-1
                  input#customCheck10.custom-control-input(type='checkbox')
                  label.custom-control-label(for='customCheck10') Niche
                .custom-control.custom-checkbox.custom-checkbox-1
                  input#customCheck11.custom-control-input(type='checkbox')
                  label.custom-control-label(for='customCheck11') Niche




